---
---

h1 {
	margin: 1em 0;
}

#info {
	& > div {
		margin-bottom: 1em;

		.progress {
			margin-top: 5px;
		}
	}
}

.annotation {
	.exact, .raw {
		display: none;
	}
}

.badge {
	&-topic { background: black; }

  &-approval { background-color: #00FF7F; }
  &-disapproval {	background-color: #ff6666;	}
	&-question { background-color: #FFFF66;  }
	&-reference { background-color: #3399ff;  }
}

.document-category {
	margin-bottom: 1em;

  .stats {
		text-align: center;
		
		& > span {
			margin: 0 0.5em;
		}
	}
}
