---
---

$serif : serif;

h1 {
	margin: 1em 0;
}

#info {
	& > div {
		margin-bottom: 1em;

		.progress {
			margin-top: 5px;
		}
	}
}

.annotation {
	.exact, .raw {
		display: none;
	}

	h5 {
		font-size: 14px;
	}

	blockquote {
		color: #888;
		font-family: $serif;
		padding: 0 1em 1em 1em;
		font-style: italic;
		overflow: hidden;
	}

	blockquote+div {
		flex-grow: 1;
	}
}

.highlight {
	strong {
		background: #ff6;
		font-weight: normal;
	}
}

.badge {
	&-topic { background: black; }

  &-approval { background-color: #00FF7F; }
  &-disapproval {	background-color: #ff6666;	}
	&-question { background-color: #FFFF66;  }
	&-reference { background-color: #3399ff;  }
}

.document-category {
	margin-bottom: 1em;

	.documents {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		justify-content: space-between;
	}
		.card {
			width: 32%;
			margin-bottom: 1em;
		}

  .stats {
		text-align: center;
		
		& > span {
			margin: 0 0.5em;
		}
	}
}
