---
---


<script>
annotations = {{ site.data.annotations | jsonify }}
</script>

<div class="container">

	<h1>Net Rights + Cryptography + Decentralization</h1>

	<div class="row">
		<div class="col col-3">
		{% include sidebar.html %}
		</div>
	<div class="col col-9">
		<ul class="nav nav-tabs mb-3" role="tablist">
  		<li class="nav-item">
    		<a class="nav-link active" data-toggle="tab" href="#documents" role="tab">Documents</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" data-toggle="tab" href="#discussions" role="tab">Discussions</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" data-toggle="tab" href="#contributors" role="tab">Contributors</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" data-toggle="tab" href="#highlights" role="tab">Annotations</a>
  		</li>
			<li class="nav-item">
				<a class="nav-link" href="glossary.html">Glossary</a> 
			</li>
		</ul>
	

		<div class="tab-content">

	<div id="documents" class="tab-pane active" role="tabpanel">
  
	<h2>Documents</h2>

	{% include documents.html %}
	
	</div>

	<div id="discussions" class="tab-pane" role="tabpanel">
		{% include discussions.html %}
	</div>

	<div id="contributors" class="tab-pane" role="tabpanel">
		{% include contributors.html %}
	</div>

	<div id="highlights" class="tab-pane" role="tabpanel">
		{% include highlights.html %}
	</div>

	</div><!-- /.tab-content --> 
	
	</div>
	</div> <!-- /.row -->
</div>
