<div id="about" class="small">

<div class="alert alert-warning">This is a prototype. Contributions are not retrieved in real-time yet.</div>

<p>The Net Rights Contributions is an attempt to bootstrap a community of scientists, hackers and citizens to build together an hermeneutic tool to understand the social, political and technological issues around the many attempts to produce Net Rigths for all web citizens.</p>

<p>We would like to examine some documents and discover new ones with hope that interdisciplinarity and pluralistic epistemology will bring down filter bubbles amd augment the general intellect.</p>

<p>This initiative is part of the <a href="https://nextleap.eu">NEXTLEAP</a> european project</a>
</div>

<div id="info">
	<div>
		<i class="fa fa-file-text" aria-hidden="true"></i>

		documents: {{ site.data.annotations | group_by: "uri" | size }}/100

				<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: {{ site.data.annotations | group_by: "uri" | size }}%"  aria-valuenow="{{ site.data.annotations | group_by: "uri" | size }}" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

			</div>
	<div>
		<i class="fa fa-pencil" aria-hidden="true"></i>	
	
		annotations: {{ site.data.annotations | size }}/500

				<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: {{ site.data.annotations | size | divided_by: 5 }}%"  aria-valuenow="{{ site.data.annotations | size }}" aria-valuemin="0" aria-valuemax="500"></div>
				</div>

			</div>

      <div>
				<i class="fa fa-user" aria-hidden="true"></i>

				contributors: {{ site.data.annotations | group_by: "user" | size }}/100

			<div class="progress">
  			<div class="progress-bar" role="progressbar" style="width: {{ site.data.annotations | group_by: "user" | size  | multiply: 2 }}%"  aria-valuenow="{{ site.data.annotations | group_by: "user" | size }}" aria-valuemin="0" aria-valuemax="50"></div>
			</div>

			</div>  
			<div><i class="fa fa-tags" aria-hidden="true"></i> tags: {{ site_tags | size  }}</div>

<a href="https://hypothes.is/groups/gVjA5P3n/nextleap" class="btn btn-primary">Go to the <em>hypothes.is</em> group</a>

</div>

<hr />

<h3>Debates</h3>

<p>The following tags can be used to notify the commuity about particular needs or intentions. You can for example combine them with topics like <span class="badge badge-primary">need:discussion</span> + <span class="badge badge-topic">encryption</span> in order to show to other members that you are interested in a discussion about encryption.</p>

<dl>
{% for tag in site.data.polemictweet %}
<dt><span class="badge badge-{{ tag["id"] }}">{{ tag["tag"] }}</span></dt>
<dd class="small">{{ tag["description"]  }}</dd>
{% endfor %}
</dl>

<hr />

<div id="categories">

<h3>Categories</h3>

<p>This is the list of tags we are going to focus on in this studies.</p>

<dl>
{% for category in site.data.categories %}
<dt><span class="badge {% if category["badge"] %}badge-{{ category["badge"] }}{% else %}badge-default{% endif %}">{{ category["tag"] | replace: "_", " " }}</span></dt>
<dd>{{ category["description"] }}</dd>
{% endfor %}
</dl>
</div>
